@import "../../../index.scss";

.prize_wrapper {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 90%;
  }

  .event_container {
    padding: 1.25em;
    background-color: #fff;
    max-height: calc(100vh - 100px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 5px;

      @media (max-width: 768px) {
        all: initial;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e5e5e5;
      border-radius: 10px;

      @media (max-width: 768px) {
        all: initial;
      }
    }

    &-image {
      height: 270px;
      width: 100%;
      background-color: #e5e5e5;
      border-radius: 5px;
      margin-bottom: 1.5em;

      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &-content {
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 1em;

        b {
          color: gold;
        }
      }
    }
  }
}
